.banner{
    background-color: $color-secundary;

    &__caption{
        padding: 1.5em  3em  1.5em;
        color: $color-third;
        text-align: center;
        
    }
    &__title{
        font-size:$font-size-xlarge ;
    }
}