/*colores*/
$color-principal: #ffa137;
$color-secundary: #ff9837;
$color-third:#fff;
 
$color-auxiliar:#ff712f;
$color-auxiliar-secundary:rgb(64, 160, 207);

/*font-weight*/

$font-bold:600;
$font-normal:400;
$font-light:300;

/*font-size*/
$font-size-small:14px;
$font-size:16px;
$font-size-large:22px;
$font-size-xlarge:36px;

/*font-family*/
$font-roboto:'Roboto', Arial, Helvetica, sans-serif ;
$font-helvetica: Helvetica, Arial, sans-serif;

//mixins
@mixin mediaQ($breakpoint) {
    @media screen and (min-width: $breakpoint){
      @content;
    }
  }